*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
     font-optical-sizing: auto;
     font-weight: weight;
     font-style: normal;
     font-variation-settings:
    "wdth" 100;
}
body{
    background-color: #3B5D50;

}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px 300px ;
    align-items: center;
}
.title{
    color: white;
    font-size: 38px;
    cursor: pointer;
}
.list{
    display: flex;
    list-style-type: none;
    gap: 40px;
}
li a{
    text-decoration: none;
    color: lightgray;
}
li a:hover{
    color: white;
    transition: 0.2s;
}
.icons{
    display: flex;
    gap: 30px;
}
.icons i{
    color: white;
    
}
/**/
.container{
    display: flex;
    padding: 50px 300px;
}
.about{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 500px;
    justify-content: center;
}
.about-title{
     color: white;
     font-size: 55px;
}
.about p{
    font-weight: 300;
    color: lightgray;
}
.buttons{
    display: flex;
    gap: 10px;
    
}
.shop ,.exp{
    background-color: #F9Bf29;
    border: none;
    color: black;
    border-radius: 20px 20px 20px;
    width: 150px;
    height: 50px;
    font-size: 15px;
    cursor: pointer;

}
.exp{
    color: white;
    border-color: white;
    border: 2px solid;
    background-color: transparent;
}
/**/
.first-section{
    display: flex;
    padding: 0 300px;
    background-color: white;
    align-items: center;
    height: 500px;
}
.mats{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.mats-title{
    font-weight: 400;
    color: #2F2F2F;
}
.mats p{
    font-weight: 300;
}
.mats button{
    border-radius: 20px 20px 20px;
    width: 150px;
    height: 50px;
    font-size: 18px;
    background-color: #2F2F2F;
    color: white;
    border: none;
    cursor: pointer;
}
.mats button:hover{
    background-color: black;
    transition: 0.5s;
}

.articles{
    display: flex;
}
.first img{
    width: 300px;
    height: 320px;
}
.first{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.first:hover{
    background-color: #3B5D50;
    transition: 0.8s;
    border: 20px 20px 20px;
}

/**/
.second-section{
    display: flex;
    justify-content: space-between;
    padding: 250px 300px;
    background-color: white;
}
.whychoose{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 350px;
}
.picture img{
    width: 500px;
    height: 600px;
    border-radius: 20px 20px 20px;
}
.firstchoose , .secondchoose{
    display: flex;
    gap: 20px;
    width: 3500px;
    height: 200px;
}
.fast{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 250px;
    height: 100px;
    
}
.fast h6{
    font-size: 20px;
}
.fast p{
    font-weight: 300;
    color: #3B5D50;
}

.whychoose h1{
    font-weight: 400;
    color: #2F2F2F;
    font-size: 35px;

}

.fa-phone ,.fa-arrow-right-arrow-left,.fa-shop,.fa-truck-fast {
    font-size: 25px;
    border-radius: 50%;
    background-color: #3B5D50;


}
@media only screen and (max-width: 1100px) {
    .navbar, .container , .first-section,.second-section{
        padding: 5px 10px;
        
    }
    .container  , .articles{
        flex-wrap: wrap;
    }
    .container h1{
        font-size: 30px;
    }
    .pic{
        margin-top: -150px;
    }
    .first-section{
        flex-wrap: wrap;
        height: 1500px;
        padding: 0 70px;
        gap: 20px;
        
    }
    .second-section{
        flex-wrap: wrap;
        padding-top: 50px;

    }
    .picture img{
        width: 450px;
        height: 400px;
    }
    .navbar{
        flex-direction: column;
        gap: 20px;
    }
    
   
}